[global]
backend = "alsa"
device = "default"
mixer = "PCM"
volume-controller = "alsa" # or alsa_linear, or softvol
device_name = "Spotiplays"
bitrate = 320
cache_path = "/tmp"
volume-normalisation = true
normalisation-pregain = -10
